html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  display: none; }
  #mainContent div, #mainContent img, #mainContent svg {
    position: absolute; }

.hide {
  opacity: 0; }

.bg {
  width: 300px;
  left: 250px;
  top: 0;
  left: 0; }

#gradient {
  top: -76px;
  left: -176px;
  -webkit-transform-origin: 20% 30%;
  -ms-transform-origin: 20% 30%;
  transform-origin: 20% 30%; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 250px;
  border: 1px solid black; }
