@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
}

#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    display: none;

    div,img,svg {
        position: absolute;
    }
}

.hide {
    opacity: 0;
}
 
// .image {
//     top: -39px;
//     left: 49px;
// }
  
.bg{
    width:300px;
    left:250px;
    top:0;
    left:0;
}
  #gradient {
    top: -76px;
    left: -176px;
    transform-origin: 20% 30%; 
}


  
#bgExit {
    position: absolute;
    width: $width;
    height: $height;
    border: 1px solid black;
}